body {
    padding: 0;
    margin: 0;
    background-color: #9a9a9a;
}
nav {
    background-color: black;
    padding: 10px;
}
nav ul {
    color:#6f6f6f;
}
nav ul li {
    display: inline;
    padding-left: 57px;
    font-size: 14px;
    font-weight: 600;
}
nav .container {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li:hover {
    color: #ff8b38;
    cursor: pointer;
}
header {
    display: flex;
    justify-content: space-between;
    width: 1120px;
    margin: 0 auto;
    padding-bottom: 139px;
}
.AXIT {
    display: flex;
    flex-wrap: wrap;
    width: 470px;
    margin-top: 110px;
}
.AXIT h1 {
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin: 0;
}
.AXIT div {
    margin-top: 20px;
    font-size: 14px;
    color: #d2caca;
}
.AXIT button {
    margin-top: 40px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    padding: 10px 25px;
    border-radius: 3px;
    width: 135px;
    height: 42px;
    color: #fff;
    border-color: #fff;
}
.AXIT button:hover {
    color: black;
    background-color: #ff8b38;
    border-color: #ff8b38;
}
.feedback p {
    padding: 18px 56px 15px 52px;
    font-size: 20px;
    font-weight: bold;
    background-color: #f5f5f5;
    margin: 0;
}
.feedback span {
    color: #ff8b38;
}
.form {
    display:flex;
    flex-direction: column;
    padding: 36px 44px 0 44px;
}  
.form input {
    border: none;
    border-bottom: 1px solid #f5f5f5;
    padding: 10px;
    margin-bottom: 36px;
}
.form input:last-child {
    margin-bottom: 40px;
}
.form input:focus, .form input:active{
    outline: 0;
    outline-offset: 0;
    border: none;
    border-bottom: 4px solid #ff8b38;
}
.feedback button{
    width: 100%;
    padding: 20px;
    border: none;
    background-color: #e99b55;
    color: #fff;
    margin-top: 49px;
    font-size: 15px;
    border-radius: 0 0 5px 5px;
}
.feedback input {
    font-size: 14px;
}
.feedback {
    background-color: white;
    margin-top: 140px;
    border-radius: 5px;
}
.feedback p {
    border-radius: 5px 5px 0 0;
}
.AXIT img {
    height: 60px;
    width: 175px;
}
.text{
    font-size: 16px;
    margin: 0px;
    padding: 0;
    color: #d2caca;
}
.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
    padding: 20px;
    background-color: #fff;
    border-bottom: 2px solid black;
}
.socialtext {
    padding-left: 200px;
}
.social h2 {
    padding: 0;
    margin: 0;
}
.social p {
    padding: 0;
    margin: 0;
    width: 360px;
}
.social img {
    width: 50px;
    height: 52px;
}
.last {
    padding-right: 200px;
}
.sublist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 107px 200px 100px 200px;
}
.orangeLine {
    height: 3px;
    width: 64px;
    background-color:#ff8b38;
    margin-top: 20px;
    margin-bottom: 20px;
}
.sublistText {
    width: 50%;
}
.uploadAndText1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.uploadAndText2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.sublist p {
    font-size: 14px;
    margin: 0;
}
.sublist div img {
    margin: 15px;
}
.sublist h2 {
    font-size: 20px;
    margin: 0;
}
.marg {
    margin: 15px 0 15px 0;
    color: #a5a5a6;
}
.sublist_p {
    color: #a5a5a6;
}
.a5a5a6 {
    color: #a5a5a6;
}
.whiteline {
    width: 70px;
    height: 2px;
    background-color: #b1aeae;
    margin: 30px 0 30px 0;
}
.grey_background {
    background-color: #f5f5f5;
}
.picture_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1120px;
    margin: auto;
}
.picture_section img {
    width: 453px;
    height: 303px;
    margin: 110px 0 150px 0;
}
.picture_section_text {
    width: 560px;
}
.picture_section h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}
.picture_section p {
    font-size: 16px;
    color: #a5a5a6;
}